body,
html {
  position: fixed;
  overscroll-behavior: none;
  background-color: #2B3445;
  text-align: center;
  touch-action: pan-x pan-y;
}

#rectangle {
  width: 480px;
  height: 270px;
  background-color: #7284A8;
  border-radius: 15px;
  position: relative;
}

#textfield {
  width: 447px;
  font-size: 24pt;
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 10px;
  background-color: #7284A8;
  border-radius: 15px;
}